/* Reset */
html, body {
    height: 100%;
    margin: 0;
    min-height: 100%;
}

*, *::before, *::after {
    box-sizing: border-box;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
    appearance: none;
    border: none;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}

/* Page */
body {
    color: #0D1116;
    font-family: "degular-display", sans-serif;
    display: flex;
    flex-direction: column;
}

/* Header */
.header {
    padding: 1.5rem;
    display: flex;
    align-items: center;
}

.header-image {
    height: 52px;
    width: 52px;
    object-fit: cover;
    border-radius: 12px;
}

.header-text {
    font-weight: 800;
    font-size: 1.5rem;
    padding-left: 1rem;
}

.hook {
    font-size: 2rem;
    font-weight: 700;
    margin: 0 auto;
    padding: 0 1.5rem;
    line-height: 112%;
}

/* Cards */
.cards-wrapper {
    width: 100%;
    overflow: hidden;
    margin-top: 56px;
    touch-action: none; /* Disable touch-based scrolling */
}

.cards {
    display: flex;
    gap: 24px;
    padding-bottom: 10px;
    align-items: flex-start;
    width: max-content;
}

.card {
    position: relative;
    width: 240px;
    padding: 1rem;
    background: linear-gradient(to right, #0EA5E910, #0E74E910);
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    margin-right: 15px;
    margin-bottom: 10px;
    align-self: flex-start;
}

.card::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 8px; 
    padding: 1px; 
    background: linear-gradient(to right, #0EA5E9, #0E74E9);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask-composite: exclude;
    pointer-events: none;
}

.ref-desc {
    font-size: 18px;
    line-height: 1.4;
}

.ref-name {
    margin-top: 1rem;
    font-weight: 600;
}

.ref-affil {
    font-size: 15px;
    color: #555;
    margin-top: 2px;
}

/* About */
.about-me {
    margin-top: 2rem;
    padding: 0 1.5rem;
    letter-spacing: 0.04rem;
}

.text {
    font-size: 1.25rem;
    margin-bottom: 3rem;
}

.instagram, .instagram:visited {
    color: #0085FF;
}

.letterboxd, .letterboxd:visited {
    color: #9E00FF;
}


/* Skills */



.skills-container {
    padding: 0 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.title {
    padding-left: 1.5rem;
    font-weight: 700;
    font-size: 1.5rem;
    letter-spacing: 2px;
}

.icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: opacity 1s;
    max-width: 160px;
    width: 96px;
    height: 96px;
    margin: 0 auto;
}

.skills-svg {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6rem;
}

/* Work */
.work {
    margin-bottom: 40px;
}

.work-container {
    display: flex;
    gap: 24px;
    padding: 1.5rem;
    overflow-x: auto;
}

.work-container::-webkit-scrollbar {
    display: none;
}

.proj {
    flex: 0 0 auto;
    max-width: 384px;
    min-width: 300px;
}

.proj-img {
    border-radius: 1rem;
}

.proj-name {
    font-size: 1.5rem;
    font-weight: 400;
    color: #444;
    margin-top: 1rem;
}

.proj-type {
    margin-top: 0.5rem;
    padding: 6px 12px 8px 12px;
    border-radius: 0.5rem;
    border: 1px solid;
    font-weight: 800;
    letter-spacing: 1px;
    display: inline-block;
}

.idea {
    color: #FF7A00;
    background-color: #FF7A0014;
}

.scrimba {
    color: #0085FF;
    background-color: #0085FF14;
}

/* Footer */
.footer {
    padding: 2rem 1.5rem;
    background-color: #15191E;
    color: #888A8D;
}

.interest {
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: 1px;
    line-height: 95%;
}

.chat-container {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 56px;
    color: #FFFFFF;
    letter-spacing: 2px;
    margin-top: -.5rem;
}

.arrow {
    padding-top: 12px;
    width: 40px;
    margin-right: 0.5rem;
}

.socials-container {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: row;
}

.handles-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

.account {
    display: flex;
    margin-bottom: 0.5rem;
}

.account-handle {
    margin-left: 0.5rem;
    background: none;
    text-decoration: underline;
}

.X, .X:visited {
    color: #9D00FF;
}

.LinkedIn, .LinkedIn:visited {
    color: #0EA5E9;
}

.GitHub, .GitHub:visited {
    color: #E34C26;
}

.Email, .Email:visited {
    color: #FF7A00;
}

.Resumé, .Resumé:visited {
    color: #009959;
    display: flex;
    padding: 0;
}

/* Responsive (min-width: 1024px) */
@media (min-width: 1024px) {
    .header {
        padding: 3rem 5rem 0;
    }

    .hook {
        margin: 7.5rem 5rem;
        font-size: 6rem;
        padding: 0;
    }

    .cards {
        gap: 2.5rem;
    }

    .card {
        width: 320px;
        padding: 24px;
        margin: 0 24px 8px 0;
    }

    .ref-desc {
        font-size: 1.25rem;
    }

    .ref-name {
        margin-top: 24px;
        font-size: 1.125rem;
    }

    .ref-affil {
        margin-top: 4px;
        font-size: 1rem;
    }

    .container {
        display: flex;
        flex-direction: column;
        margin: 5rem 0 5rem 0;
        align-items: center;
        gap: 7rem;
    }

    .about-me {
        max-width: 720px;
        padding: 0;
        margin: 0;
    }

    .intro {
        font-size: 1.25rem;
        margin-bottom: 1.5rem;
    }

    .text {
        font-size: 1.5rem;
        line-height: 132%;
    }

    .title {
        padding-left: 0;
    }
    
    .container-two {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .skills {
        padding: 0;
        min-width: 224px;
        max-width: 720px;
    }

    .skills-container {
        flex-wrap: nowrap;
        padding: 1rem 0 4rem;
        margin-top: 0;
        margin-bottom: 0;
        margin-bottom: 40px;
    }

    .title {
        font-size: 2rem;
        margin-bottom: 16px;
        text-align: center;
    }

    .work-container {
        display: flex;
        min-width: 400px;
        flex-shrink: 1;
        /* mask-image: linear-gradient(
            to right,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 1) 4%,
            rgba(0, 0, 0, 1) 100%,
            rgba(0, 0, 0, 0)
        ); */
    }

    .footer {
        padding: 5.5rem 5rem 4rem 5rem;
    }

    .interest {
        font-size: 4rem;
    } 

    .arrow {
        width: 80px;
        padding-right: 1rem;
    }
    
    .chat-container {
        font-size: 6rem;
        margin: -16px 0 32px 0;
    }

    .socials-container {
        font-size: 1.125rem;
    }

}

@container right-col (max-width: 1008px) {
    .skills {
        max-width: 600px;
    }
}